/*
 * File: styles.scss
 * Project: router
 * File Created: Thursday, 21st June 2018 2:59:26 pm
 * Author: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Last Modified: Monday, 2nd July 2018 4:46:03 pm
 * Modified By: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Copyright 2017 - 2018
 */

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: -apple-system, sans-serif, "Microsoft YaHei", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    background-color: rgb(129, 200, 252);
    overflow-x: hidden;
    padding-left: calc(100vw - 100%);
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    cursor: alias;
    text-decoration: none;
}

.conectMod {
    position: relative;
    background-color: #fff;
    .btn-list {
        height: calc(100% - 55px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .t {
        color: #696969;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        padding: 15px;
        font-family: "Microsoft YaHei";
    }
    a{
        width: 130px;
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;
        transition: .4s ease all;
        cursor: pointer;
        font-size: 20px;
        &:hover{
            box-shadow: 0 0 1px 1px #2b2f32;
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 0px;
            height: 100%;
            background-color: #38b7ea;
            transition: .4s ease all;
            z-index: -1;
        }
    }
    button{
        outline: none;
        box-shadow: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: .4s ease all;
    }
    svg {
        margin-right: 5px;
        width: 25px;
        height: 25px;
        fill: #2b2f32;
        transition: .4s ease all;
    }
}

.qrcodeMod {
    background-color: #fff;
    .t {
        color: #696969;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        padding: 15px;
        font-family: "Microsoft YaHei";
    }
    img {
        display: block;
        margin: 10px auto;
    }
}

// 排版
.scale-enter-active,
.scale-leave-active {
    transition: all .5s ease;
}

.scale-leave,
.scale-enter-to {
    transform: translateY(0);
    opacity: 1;
}

.scale-leave-to,
.scale-enter {
    transform: translateY(24px);
    opacity: .8;
}

.qrcode-enter-active,
.qrcode-leave-active {
    transition: all 0.5s;
}

.qrcode-enter,
.qrcode-leave-active {
    opacity: 0;
    transform: scale(0.3) translateY(24px);
}

.neko {
    background-color: #fff;
    padding: 20px 30px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    a {
        color: #FF6464;
        transition: all .35s;
        text-decoration: none;
        position: relative;
        padding-bottom: 2px;
        word-wrap: break-word;
        &::after {
            content: "";
            transition: width .35s;
            right: 0;
            width: 0;
            bottom: 0px;
            position: absolute;
            border-bottom: 1px solid #FF6464;
        }
        &:hover::after {
            left: 0;
            width: 100%;
        }
    }
    p {
        margin-bottom: 20px;
        line-height: 1.7;
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    }
    blockquote {
        padding-left: 1.2em;
        border-left: 4px solid #e2e3e4;
        margin: 20px 0;
        color: #8a8989;
    }
    pre {
        margin: 1em 0;
        padding: 10px 15px;
        font-size: 14px;
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        background-color: #f6f6f6;
        border-radius: 6px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 10px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #b6b4b4;
        }
    }
    code {
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        background-color: #f6f6f6;
        border-radius: 6px;
    }
    img {
        max-width: 100%;
        margin: 10px 0;
        border-radius: 6px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        color: #111;
        margin: 20px 0;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.15em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.9em;
    }
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
    h4:before,
    h5:before,
    h6:before {
        display: inline-block;
        width: 20px;
        content: '#';
        color: #aaa;
    }
    abbr[title] {
        text-decoration: none;
        border-bottom: 1px dotted;
        cursor: help;
    }
    u,
    ins {
        text-decoration: none;
        border-bottom: 1px solid;
    }
    mark {
        color: #000;
        padding: 2px;
        margin: 0 5px;
        background-color: #fffdd1;
        border-bottom: 1px solid #ffedce;
    }
    kbd {
        padding: 2px 6px;
        font-size: 90%;
        color: #fff;
        background-color: #333;
        border-radius: 2px;
        font-family: Consolas, Courier, 'Courier New', monospace;
    }
    hr {
        height: 10px;
        margin-bottom: .8em;
        border: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
    }
    ol {
        padding-left: 2em;
        margin: 0 0 1.2em 0;
    }
    ul {
        padding-left: 2em;
        margin: 0 0 1.2em 0;
        list-style: disc;
    }
    li {
        ul,
        ol {
            margin: .8em 0;
        }
        ul {
            list-style: circle;
        }
    }
    table {
        color: #5b6064;
        border-spacing: 0;
        border-radius: 6px;
        text-align: center;
        border-collapse: collapse;
        box-shadow: 0 0 0 1px #eee;
        display: inline-block;
        max-width: 100%;
        overflow: auto;
        white-space: nowrap;
        margin: auto;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #888;
        }
        tbody {
            padding: 0 -2px;
        }
        thead {
            border-bottom: 1px solid #eee;
        }
        th {
            border-right: 1px solid #eee;
            padding: 7px 14px;
            font-weight: normal;
        }
        td {
            border-right: 1px solid #eee;
            padding: 8px 14px;
        }
        th:last-child,
        td:last-child {
            border: none;
        }
        tr {
            background-color: #fff;
            &:nth-child(2n) {
                background-color: #f8f8f8;
            }
        }
    }
}

@media (max-width: 600px) {
    .neko {
        box-shadow: none;
        padding: 0;
    }
}

/* 排版end */